:root {
  color-scheme: light dark;

  /* Base16 Tomorrow and Base16 Tomorrow Night */
  /* https://github.com/tinted-theming/home/blob/main/styling.md */
  /* https://github.com/tinted-theming/schemes/blob/spec-0.11/base16/tomorrow.yaml */
  /* https://github.com/tinted-theming/schemes/blob/spec-0.11/base16/tomorrow-night.yaml */
  --color-base00: light-dark(#ffffff, #1d1f21);
  --color-base01: light-dark(#e0e0e0, #282a2e);
  --color-base02: light-dark(#c5c8c6, #373b41);
  --color-base03: light-dark(#b4b7b4, #969896);
  --color-base04: light-dark(#969896, #b4b7b4);
  --color-base05: light-dark(#373b41, #c5c8c6);
  --color-base06: light-dark(#282a2e, #e0e0e0);
  --color-base07: light-dark(#1d1f21, #ffffff);
  --color-base08: light-dark(#c82829, #cc6666);
  --color-base09: light-dark(#f5871f, #de935f);
  --color-base0a: light-dark(#eab700, #f0c674);
  --color-base0b: light-dark(#718c00, #b5bd68);
  --color-base0c: light-dark(#3e999f, #8abeb7);
  --color-base0d: light-dark(#4271ae, #81a2be);
  --color-base0e: light-dark(#8959a8, #b294bb);
  --color-base0f: light-dark(#a3685a, #a3685a);

  --color-background: var(--color-base00);
  --color-background-mask: light-dark(#000000, #ffffff);
  --color-text: var(--color-base05);
  --color-link: var(--color-base0d);
  --color-block-background: color-mix(in srgb, var(--color-background), var(--color-background-mask) 3%);
  --color-block-border: color-mix(in srgb, var(--color-background), var(--color-background-mask) 12%);
}

body {
  font-family:
    /* Might be enough in the future: https://caniuse.com/extended-system-fonts */
    ui-sans-serif,
    /* macOS 10.11+ */
    "SF Pro",
    /* macOS 10.8+ */
    "Helvetica Neue",
    /* Windows Vista+ */
    "Segoe UI",
    /* Linux: GNOME */
    "Adwaita Sans",
    /* Linux: KDE */
    "Noto Sans",
    /* Linux */
    "Liberation Sans",
    "DejaVu Sans",
    /* Android */
    "Roboto",
    /* Fallback */
    sans-serif;

  font-size: 1rem;
}

code {
  font-family:
    /* Might be enough in the future: https://caniuse.com/extended-system-fonts */
    ui-monospace,
    /* macOS 10.11+ */
    "SF Mono",
    /* macOS 10.6+ */
    "Menlo",
    /* Windows 10+ */
    "Cascadia Code",
    /* Windows Vista+ */
    "Consolas",
    /* Linux: GNOME */
    "Adwaita Mono",
    /* Linux: KDE */
    "Hack",
    /* Linux */
    "Liberation Mono",
    "DejaVu Sans Mono",
    /* Android */
    "Roboto Mono",
    /* Fallback */
    monospace;

  font-size: 85%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  margin-inline: auto;
  max-inline-size: 50em;
  padding: 1em;
}

/* Navigation */

nav {
  align-items: center;
  display: flex;
  font-size: 90%;
  justify-content: space-between;
}

.nav-section {
  display: flex;
  gap: 1em;
}

/* Articles */

article {
  hanging-punctuation: first last;
}

.article-header {
  margin-block: 2em 2em;
  text-align: center;
}

.article-title {
  font-size: 2em;
  font-weight: bold;
  margin-block: 0.25em 0.25em;
}

.article-subtitle {
  font-weight: bolder;
}

/* Links */

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Code */

code, pre {
  background: var(--color-block-background);
  border: 1px solid var(--color-block-border);
  border-radius: 4px;
}

code {
  padding-block: 0.10em 0.10em;
  padding-inline: 0.25em 0.25em;
}

pre {
  overflow: auto;
  padding: 1em;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

/* Quotes */

blockquote {
  background: var(--color-block-background);
  border-inline-start: 4px solid var(--color-block-border);
  margin-block: 1em 1em;
  margin-inline: 1.5em 1.5em;
  padding-block: 0.10em 0.10em;
  padding-inline: 1em 0.75em;
}

/* Tables */

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--color-block-border);
  padding-block: 0.5em 0.5em;
  padding-inline: 1em 1em;
}

tr:nth-child(even) {
  background: var(--color-block-background);
}
