:root {
  /* Base16 GitHub */
  --color-base00: #ffffff;
  --color-base01: #f5f5f5;
  --color-base02: #c8c8fa;
  --color-base03: #969896;
  --color-base04: #e8e8e8;
  --color-base05: #333333;
  --color-base06: #ffffff;
  --color-base07: #ffffff;
  --color-base08: #ed6a43;
  --color-base09: #0086b3;
  --color-base0a: #795da3;
  --color-base0b: #183691;
  --color-base0c: #183691;
  --color-base0d: #795da3;
  --color-base0e: #a71d5d;
  --color-base0f: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base16 Tomorrow Night */
    --color-base00: #1d1f21;
    --color-base01: #282a2e;
    --color-base02: #373b41;
    --color-base03: #969896;
    --color-base04: #b4b7b4;
    --color-base05: #c5c8c6;
    --color-base06: #e0e0e0;
    --color-base07: #ffffff;
    --color-base08: #cc6666;
    --color-base09: #de935f;
    --color-base0a: #f0c674;
    --color-base0b: #f0c674;
    --color-base0c: #8abeb7;
    --color-base0d: #81a2be;
    --color-base0e: #b294bb;
    --color-base0f: #a3685a;
  }
}

/* Background */ .chroma { background-color: var(--color-block-background); padding: 16px; }
/* Other */ .chroma .x { color: var(--color-base05) }
/* Error */ .chroma .err { color: var(--color-base08) }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: var(--color-base02) }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: var(--color-base0e) }
/* KeywordConstant */ .chroma .kc { color: var(--color-base0e) }
/* KeywordDeclaration */ .chroma .kd { color: var(--color-base0e) }
/* KeywordNamespace */ .chroma .kn { color: var(--color-base0e) }
/* KeywordPseudo */ .chroma .kp { color: var(--color-base0e) }
/* KeywordReserved */ .chroma .kr { color: var(--color-base0e) }
/* KeywordType */ .chroma .kt { color: var(--color-base08) }
/* Name */ .chroma .n { color: var(--color-base0d) }
/* NameAttribute */ .chroma .na { color: var(--color-base0d) }
/* NameBuiltin */ .chroma .nb { color: var(--color-base0d) }
/* NameBuiltinPseudo */ .chroma .bp { color: var(--color-base08) }
/* NameClass */ .chroma .nc { color: var(--color-base0d) }
/* NameConstant */ .chroma .no { color: var(--color-base09) }
/* NameDecorator */ .chroma .nd { color: var(--color-base09) }
/* NameEntity */ .chroma .ni { color: var(--color-base0d) }
/* NameException */ .chroma .ne { color: var(--color-base0d) }
/* NameFunction */ .chroma .nf { color: var(--color-base0d) }
/* NameFunctionMagic */ .chroma .fm { color: var(--color-base0d) }
/* NameLabel */ .chroma .nl { color: var(--color-base0d) }
/* NameNamespace */ .chroma .nn { color: var(--color-base0d) }
/* NameOther */ .chroma .nx { color: var(--color-base0d) }
/* NameProperty */ .chroma .py { color: var(--color-base0d) }
/* NameTag */ .chroma .nt { color: var(--color-base0e) }
/* NameVariable */ .chroma .nv { color: var(--color-base0d) }
/* NameVariableClass */ .chroma .vc { color: var(--color-base0d) }
/* NameVariableGlobal */ .chroma .vg { color: var(--color-base0d) }
/* NameVariableInstance */ .chroma .vi { color: var(--color-base08) }
/* NameVariableMagic */ .chroma .vm { color: var(--color-base0d) }
/* Literal */ .chroma .l { color: var(--color-base0b) }
/* LiteralDate */ .chroma .ld { color: var(--color-base0b) }
/* LiteralString */ .chroma .s { color: var(--color-base0b) }
/* LiteralStringAffix */ .chroma .sa { color: var(--color-base0b) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--color-base0b) }
/* LiteralStringChar */ .chroma .sc { color: var(--color-base0b) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--color-base0b) }
/* LiteralStringDoc */ .chroma .sd { color: var(--color-base0b) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--color-base0b) }
/* LiteralStringEscape */ .chroma .se { color: var(--color-base0b) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--color-base0b) }
/* LiteralStringInterpol */ .chroma .si { color: var(--color-base0f) }
/* LiteralStringOther */ .chroma .sx { color: var(--color-base0b) }
/* LiteralStringRegex */ .chroma .sr { color: var(--color-base0c) }
/* LiteralStringSingle */ .chroma .s1 { color: var(--color-base0b) }
/* LiteralStringSymbol */ .chroma .ss { color: var(--color-base09) }
/* LiteralNumber */ .chroma .m { color: var(--color-base09) }
/* LiteralNumberBin */ .chroma .mb { color: var(--color-base09) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--color-base09) }
/* LiteralNumberHex */ .chroma .mh { color: var(--color-base09) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--color-base09) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--color-base09) }
/* LiteralNumberOct */ .chroma .mo { color: var(--color-base09) }
/* Operator */ .chroma .o { color: var(--color-base05) }
/* OperatorWord */ .chroma .ow { color: var(--color-base05) }
/* Punctuation */ .chroma .p { color: var(--color-base05) }
/* Comment */ .chroma .c { color: var(--color-base03) }
/* CommentHashbang */ .chroma .ch { color: var(--color-base03) }
/* CommentMultiline */ .chroma .cm { color: var(--color-base03) }
/* CommentSingle */ .chroma .c1 { color: var(--color-base03) }
/* CommentSpecial */ .chroma .cs { color: var(--color-base03) }
/* CommentPreproc */ .chroma .cp { color: var(--color-base0f) }
/* CommentPreprocFile */ .chroma .cpf { color: var(--color-base0b) }
/* Generic */ .chroma .g { color: var(--color-base05) }
/* GenericDeleted */ .chroma .gd { color: var(--color-base08) }
/* GenericEmph */ .chroma .ge { color: var(--color-base05); font-style: italic }
/* GenericError */ .chroma .gr { color: var(--color-base05) }
/* GenericHeading */ .chroma .gh { color: var(--color-base0d) }
/* GenericInserted */ .chroma .gi { color: var(--color-base0b) }
/* GenericOutput */ .chroma .go { color: var(--color-base05) }
/* GenericPrompt */ .chroma .gp { color: var(--color-base05) }
/* GenericStrong */ .chroma .gs { color: var(--color-base05); font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: var(--color-base0d) }
/* GenericTraceback */ .chroma .gt { color: var(--color-base05) }
/* GenericUnderline */ .chroma .gl { color: var(--color-base05); text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: var(--color-base00); text-decoration: underline }
