:root {
  --color-change-insert: #ddffdd;
  --color-change-remove: #ffdddd;
  --color-class: #445588;
  --color-comment: #999988;
  --color-comment-special: #999999;
  --color-function: #990000;
  --color-keyword: #000000;
  --color-literal-string: #dd1144;
  --color-literal-number: #009999;
  --color-variable: #008080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-change-insert: #b5bd68;
    --color-change-remove: #cc6666;
    --color-class: #81a2be;
    --color-comment: #969896;
    --color-comment-special: #969896;
    --color-function: #b294bb;
    --color-keyword: #c5c8c6;
    --color-literal-string: #b5bd68;
    --color-literal-number: #de935f;
    --color-variable: #008080;
  }
}

/* Background */ .chroma { background-color: var(--color-block-background); padding: 16px; }
/* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: var(--color-keyword); font-weight: bold }
/* KeywordConstant */ .chroma .kc { color: var(--color-keyword); font-weight: bold }
/* KeywordDeclaration */ .chroma .kd { color: var(--color-keyword); font-weight: bold }
/* KeywordNamespace */ .chroma .kn { color: var(--color-keyword); font-weight: bold }
/* KeywordPseudo */ .chroma .kp { color: var(--color-keyword); font-weight: bold }
/* KeywordReserved */ .chroma .kr { color: var(--color-keyword); font-weight: bold }
/* KeywordType */ .chroma .kt { color: var(--color-class); font-weight: bold }
/* NameAttribute */ .chroma .na { color: var(--color-variable) }
/* NameBuiltin */ .chroma .nb { color: #0086b3 }
/* NameBuiltinPseudo */ .chroma .bp { color: var(--color-comment-special) }
/* NameClass */ .chroma .nc { color: var(--color-class); font-weight: bold }
/* NameConstant */ .chroma .no { color: var(--color-variable) }
/* NameDecorator */ .chroma .nd { color: #3c5d5d; font-weight: bold }
/* NameEntity */ .chroma .ni { color: #800080 }
/* NameException */ .chroma .ne { color: var(--color-function); font-weight: bold }
/* NameFunction */ .chroma .nf { color: var(--color-function); font-weight: bold }
/* NameLabel */ .chroma .nl { color: var(--color-function); font-weight: bold }
/* NameNamespace */ .chroma .nn { color: #555555 }
/* NameTag */ .chroma .nt { color: #000080 }
/* NameVariable */ .chroma .nv { color: var(--color-variable) }
/* NameVariableClass */ .chroma .vc { color: var(--color-variable) }
/* NameVariableGlobal */ .chroma .vg { color: var(--color-variable) }
/* NameVariableInstance */ .chroma .vi { color: var(--color-variable) }
/* LiteralString */ .chroma .s { color: var(--color-literal-string) }
/* LiteralStringAffix */ .chroma .sa { color: var(--color-literal-string) }
/* LiteralStringBacktick */ .chroma .sb { color: var(--color-literal-string) }
/* LiteralStringChar */ .chroma .sc { color: var(--color-literal-string) }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--color-literal-string) }
/* LiteralStringDoc */ .chroma .sd { color: var(--color-literal-string) }
/* LiteralStringDouble */ .chroma .s2 { color: var(--color-literal-string) }
/* LiteralStringEscape */ .chroma .se { color: var(--color-literal-string) }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--color-literal-string) }
/* LiteralStringInterpol */ .chroma .si { color: var(--color-literal-string) }
/* LiteralStringOther */ .chroma .sx { color: var(--color-literal-string) }
/* LiteralStringRegex */ .chroma .sr { color: #009926 }
/* LiteralStringSingle */ .chroma .s1 { color: var(--color-literal-string) }
/* LiteralStringSymbol */ .chroma .ss { color: #990073 }
/* LiteralNumber */ .chroma .m { color: var(--color-literal-number) }
/* LiteralNumberBin */ .chroma .mb { color: var(--color-literal-number) }
/* LiteralNumberFloat */ .chroma .mf { color: var(--color-literal-number) }
/* LiteralNumberHex */ .chroma .mh { color: var(--color-literal-number) }
/* LiteralNumberInteger */ .chroma .mi { color: var(--color-literal-number) }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--color-literal-number) }
/* LiteralNumberOct */ .chroma .mo { color: var(--color-literal-number) }
/* Operator */ .chroma .o { color: var(--color-keyword); font-weight: bold }
/* OperatorWord */ .chroma .ow { color: var(--color-keyword); font-weight: bold }
/* Comment */ .chroma .c { color: var(--color-comment); font-style: italic }
/* CommentHashbang */ .chroma .ch { color: var(--color-comment); font-style: italic }
/* CommentMultiline */ .chroma .cm { color: var(--color-comment); font-style: italic }
/* CommentSingle */ .chroma .c1 { color: var(--color-comment); font-style: italic }
/* CommentSpecial */ .chroma .cs { color: var(--color-comment-special); font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: var(--color-comment-special); font-weight: bold; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: var(--color-comment-special); font-weight: bold; font-style: italic }
/* GenericDeleted */ .chroma .gd { color: var(--color-keyword); background-color: var(--color-change-remove) }
/* GenericEmph */ .chroma .ge { color: var(--color-keyword); font-style: italic }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: var(--color-comment-special) }
/* GenericInserted */ .chroma .gi { color: var(--color-keyword); background-color: var(--color-change-insert) }
/* GenericOutput */ .chroma .go { color: #888888 }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
