<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title>{{ .Title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">

  <!-- Chrome for Android -->
  <meta name="theme-color" content="#1e2327">

  {{ if .IsPage }}
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
  <meta name="twitter:title" content="{{ .Title | markdownify }}" />
  <meta name="twitter:description" content="{{ .Description }}" />

  <!-- Search -->
  <meta name="description" content="{{ .Description }}" />
  {{ end }}

  {{ if .IsHome }}
  <meta name="google-site-verification" content="{{ .Site.Params.googleSearchCode }}" />

  <!-- Search -->
  <meta name="description" content="{{ .Site.Params.description }}" />
  {{ end }}
</head>

<body>

<!-- Syntax highlighting -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/kotlin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/swift.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ template "_internal/google_analytics_async.html" . }}

<header>
  <nav>
    <ul>
      {{ range .Site.Menus.left }}
      <li class="menu-left"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{end}}
      {{ range .Site.Menus.right }}
      <li class="menu-right"><a href="{{ .URL }}">{{ .Name}}</a></li>
      {{end}}
    </ul>
  </nav>
</header>

<br/>
