<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title>{{ .Title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/syntax-highlighting.css" | relURL }}" />

  <!-- Chrome for Android -->
  <meta name="theme-color" content="#1e2327">
</head>

<body>

{{ template "_internal/google_analytics_async.html" . }}

<header>
{{ partial "menu.html" . }}
</header>

<br/>
