<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8"/>

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
  <meta name="author" content="{{ .Site.Params.author }}"/>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "/css/syntax-highlighting.css" | relURL }}"/>

  <!-- Chrome for Android -->
  <meta name="theme-color" content="#1e2327">
</head>

<body>

<header>
{{ partial "menu.html" . }}
</header>

<br/>
