 <meta charset="utf-8"/>

 <title>{{ .Title }}</title>
 <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
 <meta name="author" content="{{ .Site.Params.author }}"/>

 <meta name="viewport" content="width=device-width, initial-scale=1"/>

 {{ $styleCSS := resources.Get "/css/style.css" }}
 <link rel="stylesheet" href="{{ $styleCSS.RelPermalink }}"/>
 {{ $syntaxCSS := resources.Get "/css/syntax.css" }}
 <link rel="stylesheet" href="{{ $syntaxCSS.RelPermalink }}"/>

 {{ range .AlternativeOutputFormats }}
 <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}"/>
 {{ end }}
