 <meta charset="utf-8"/>

 <title>{{ .Title }}</title>
 <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
 <meta name="author" content="{{ .Site.Params.author }}"/>

 <meta name="viewport" content="width=device-width, initial-scale=1"/>

 <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
 <link rel="stylesheet" href="{{ "/css/syntax-highlighting.css" | relURL }}"/>

 {{ range .AlternativeOutputFormats }}
 <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}"/>
 {{ end }}
