:root {
  color-scheme: light dark;

  --color-background: light-dark(#ffffff, #1d1f21);
  --color-text: light-dark(#000000, #c5c8c6);
  --color-link: light-dark(#006bbd, #81a2be);
  --color-block-background: light-dark(#f8f8f8, #282a2e);
  --color-block-border: light-dark(#ddd, #373b41);
}

body, nav {
  font-family:
    /* Might be enough in the future: https://caniuse.com/extended-system-fonts */
    "ui-sans-serif",
    /* macOS 10.11+ */
    "SF Pro",
    /* macOS 10.8+ */
    "Helvetica Neue",
    /* Windows Vista+ */
    "Segoe UI",
    /* Linux: GNOME */
    "Adwaita Sans",
    /* Linux: KDE */
    "Noto Sans",
    /* Linux */
    "Liberation Sans",
    "DejaVu Sans",
    /* Android */
    "Roboto",
    /* Fallback */
    "sans-serif";

  font-size: 1rem;
}

code {
  font-family:
    /* Might be enough in the future: https://caniuse.com/extended-system-fonts */
    "ui-monospace",
    /* macOS 10.11+ */
    "SF Mono",
    /* macOS 10.6+ */
    "Menlo",
    /* Windows 10+ */
    "Cascadia Code",
    /* Windows Vista+ */
    "Consolas",
    /* Linux: GNOME */
    "Adwaita Mono",
    /* Linux: KDE */
    "Hack",
    /* Linux */
    "Liberation Mono",
    "DejaVu Sans Mono",
    /* Android */
    "Roboto Mono",
    /* Fallback */
    "monospace";

  font-size: 85%;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  /* Maintain typography measure: https://en.wikipedia.org/wiki/Line_length */
  max-width: 50em;
  margin: auto;
  line-height: 1.5;
  /* Provide spacing for width lesser than maximum width. */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  hanging-punctuation: first last;
}

nav {
  align-items: center;
  display: flex;
  font-size: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-start,
.nav-end {
  gap: 1em;
  display: flex;
}

.nav-start {
  margin-inline-end: auto;
}

.nav-end {
  margin-inline-start: auto;
}

.meta {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  font-size: 110%;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  background: var(--color-block-background);
  border: 1px solid var(--color-block-border);
}

pre {
  border-radius: 4px;
  padding: 1em;
  overflow-x: auto;
}

code {
  border-radius: 3px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

blockquote {
  background: var(--color-block-background);
  border-left: 5px solid var(--color-block-border);
  padding: 3px 1em 3px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid var(--color-block-border);
}

th, td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

tr:nth-child(even) {
  background: var(--color-block-background);
}

footer {
  margin-bottom: 64px;
}
